<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page de bienvenue</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/profile.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="/"><div class="logo">Mon site</div></a>
      <div class="links">
        <% if (user.isAdmin == true) { %>
          <a href="/api/user/admin">Page admin</a>
          <% } %>
      </div>
      <form action="/api/user/logout" method="post">
        <button type="submit" id="logoutForm">Se déconnecter</button>
      </form>
    </nav>
    <main>
      <div class="form-container">
        <h1>Informations de l'utilisateur</h1>
        <div class="user-info">
          <div class="info-item">
            <strong>Nom d'utilisateur :</strong>
            <span id="username"><%= user.username %></span>
          </div>
          <div class="info-item">
            <strong>Email :</strong>
            <span id="email"><%= user.email %></span>
          </div>
          <div class="info-item">
            <strong>Date de création :</strong>
            <span id="creation-date"><%= user.created %></span>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
