<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page d'inscription</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/main.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="logo">Mon site</a>
    </nav>

    <div class="form-container">
      <h3>Créer un compte</h3>
      <form
        method="post"
        id="registerForm"
        action="/api/user/register"
        class="auth-form"
      >
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Nom d'utilisateur"
          required
        />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Mot de passe"
          required
        />
        <a href="/">Vous possédez déjà un compte? Connectez-vous!</a>
        <button type="submit">Créer un compte</button>
      </form>
    </div>
  </body>
</html>
